<!--Kendal Jackson, 9/25/24, 11am-->
{% extends 'blog/base.html' %}

{% block content %}
        <main class="container mt-5"> 
            <div class="row">
                <div class="col text-center">
                    <h2>Select Your Role</h2>
                    <form action="areyou" method="'POST">
                        <div class="d-flex justify-content-center mt-4">
                            <a href="{% url 'register' %}" class="btn btn-primary btn-lg mx-3">Job Seeker</a>
                            <a href="{% url 'register' %}" class="btn btn-success btn-lg mx-3">Employer</a>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-gYPR+sjBzHGz9ULH84KSAwtmbbkjRlqORVhnjEmCmDrIun+PAKtiBl33ewTwRz5V" crossorigin="anonymous"></script>
    
{% endblock %}
<!-- Jacob McDaniels 10:45p.m 10/3/2024 -->