{% extends 'blog/base.html' %}


{% block content %}
{% for are_you in are_you %}
        <main class="container mt-5"> 
            <div class="row">
                <div class="col text-center">
                    <h2>Select Your Role</h2>
                    <div class="d-flex justify-content-center mt-4">
                        <a href="{% url 'job_seeker' %}" class="btn btn-primary btn-lg mx-3">Job Seeker</a>
                        <a href="{% url 'employer' %}" class="btn btn-success btn-lg mx-3">Employer</a>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-gYPR+sjBzHGz9ULH84KSAwtmbbkjRlqORVhnjEmCmDrIun+PAKtiBl33ewTwRz5V" crossorigin="anonymous"></script>
    </body>
</html>
<!-- Kendal Jackson 8:21 a.m 9/27/2024 -->