<!--Jacob McDaniels, 9/24/2024, 2:30pm-->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>"The Name of our Website"</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
        <link rel="stylesheet" href="{% static 'css/jobblog.css' %}">

    </head>
    <body>
        <header class="page-header">
            <div class="container">
                <h1><a href="/">"The name of our website"</a></h1>
            </div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/blog/home">Home</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/blog/post_list">Create Post</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/blog/register">Register</a>
                      </li>
                      <li class="nav-item"></li>
                        <a class="nav-link" aria-current="page" href="/blog/faq">FAQ</a>
                      </li>
                      <li class="nav-item"></li>
                        <a class="nav-link" aria-current="page" href="#">Feedback</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
          </header>
          <main class="container">
              <div class="row">
                  <div class="col">
                  {% block content %}
                  {% endblock %}
                  </div>
              </div>
          </main>
    </body>
</html>
<!--Jacob McDaniels, 9/24/2024, 6:30pm-->