/*Jacob McDaniels, 9/26/2024, 9:43am*/
h1 a, h2 a {
    color:#2400c2;
    font-family: 'Papyrus';
    
}

.page-header {
    background-color: #1d00c2;
    margin-top: 0;
    margin-bottom: 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 28pt;
    text-decoration: none;
    text-align: left;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}
/*Jacob McDaniels, 9/26/2024, 10:30am*/

/* Eric Valle, 9/29/2024, 1:22pm*/
.registration-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group input[type="submit"] {
    background-color: #2400c2;
    color: white;
    cursor: pointer;
    border: none;
}
.form-group input[type="submit"]:hover {
    background-color: #1a0287;
}
/* Eric Valle, 9/29/2024, 1:22pm*/
